$color-primary: #3e775e;
$color-secondary: #9fc3af;
$color-disabled: #c3d9cd;
$color-background: #fffaef;

$color-black: #000000;
$color-white: #ffffff;
$color-lightgray: #ededed;
$color-gray: #756d66;
$color-lightbrown: #e2cab7;
$color-brown: #92715c;
$color-deepbrown: #4c382c;
$color-ashbrown: #766e67;

$color-red: #df6045;
$color-orange: #f6bf7e;
$color-sky: #aed4e5;
