$color-primary: #3e775e;
$color-secondary: #9fc3af;
$color-disabled: #c3d9cd;
$color-background: #fffaef;

$color-black: #000000;
$color-white: #ffffff;
$color-lightgray: #ededed;
$color-gray: #756d66;
$color-lightbrown: #e2cab7;
$color-brown: #92715c;
$color-deepbrown: #4c382c;
$color-ashbrown: #766e67;

$color-red: #df6045;
$color-orange: #f6bf7e;
$color-sky: #aed4e5;

/* 주로 사용하는 색상 */

/* Pink */
$color-pink-01: #fececf;
$color-pink-02: #ffd8d7;
$color-pink-03: #ffdfde;
$color-pink-04: #ffe6e8;
$color-pink-05: #ffeeef;

/* Skyblue */
$color-skyblue-01: #ceeaff;

/* Gray */
$color-gray-01: #d8d8d8;
$color-gray-02: #d3d3d3;
$color-gray-03: #878787;
