@import '../styles/color.scss';
@import '../styles/utils.scss';
.funding-li-container {
    border: 1px solid $color-gray-01;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    img {
        width: 100px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .gray {
        color: gray;
    }
    .name {
        font-size: 13px;
        margin-bottom: 10px;
    }
}