@import '../styles/color.scss';
@import '../styles/utils.scss';
// @import '../styles/font.scss';

.Header-container {
    max-width: 380px;

    font-size: 1.5rem;
    font-weight: 600;

    color: $color-white;
    padding: 1rem;
    background-color: $color-pink-01;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Nav-button-item {
        position: relative;
        text-align: center;
    }
}
