@import '../../styles/color.scss';
@import '../../styles/utils.scss';
.progress-container {
    display: grid;
    margin-top: 55px;
    grid-template-columns: repeat(2, 1fr);
}

.previous-funding {
    .progress-container {
        margin-top: 55px;
        color: $color-gray;
    }
    #before-funding {
        margin-right: 2rem;
    }
    height: 80vh;
}

button {
    margin-top: 50px;
    width: 80%;
    height: 4rem;
    border: 1px solid $color-gray-01;
    border-radius: 10px;
    font-size: 15px;
    background-color: $color-white;
    margin-bottom: 2rem;
}